.hero {
  color: white;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../assets/pc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

.hero .content p:first-child {
  font-style: italic;
  font-size: 1.1rem;
}

.hero .content p:nth-child(2) {
  font-size: 1.9rem;
}

.hero .content p:nth-child(3) {
  font-size: 5rem;
  font-weight: 500;
}

.hero .content p:nth-child(4) {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero .btn {
  margin: 1rem 0;
  width: 300px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #333;
}

.hero .btn:hover {
  background-color: var(--secondary-dark);
  border: 1px solid var(--secondary-dark);
}

@media screen and (max-width: 940px) {
  .hero .content p:nth-child(3) {
    font-size: 2.6rem;
  }
  .hero .content p:nth-child(4) {
    font-size: 1.6rem;
  }
}
